<%= render "posts/new" if current_user %>

<% @feed.each do |post| %>
	<div id="card">
		<div class="ui-grid-b">
			<div class="ui-block-a">
				<%= link_to gravatar_for(User.find(post.user_id), "50x50"), user_path(post.user_id) %>
			</div>
			<div class="ui-block-b">
				<%= link_to post.user.name + ":", user_path(post.user) %>
			</div>
			<div class="ui-block-c">
				<%= post.text %>
			</div>
		</div>
	</div>
	</br>
<% end %>