<table>
	<% @feed.each do |post| %>
	<tr>
		<td><%= link_to gravatar_for(User.find(post.user_id)), user_path(post.user_id) %></td>
		<td><%= link_to User.find(post.user_id).name + ":", user_path(post.user_id) %></td>
		<td><%= post.text %></td>
	</tr>
	<% end %>
</table>