<% if current_user and @user != current_user %>
	<% if Folder.folder_between(current_user, @user) %>
		<%= link_to folder_path(@folder), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-envelope"></span>
		<% end %>
	<% else %>
		<%= link_to new_folder_path(user_id: @user), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-envelope"></span>
		<% end %>
	<% end %>
<% end %>
