<!-- messages -->

<div id="card">
	<%= form_for @message do |f| %>
		<%= hidden_field_tag :folder_id, @folder.id %>
		
		<%= f.text_area :text, placeholder: "Send a message" %>
		
		<%= f.submit "Send" %>
	<% end %>
</div>