<% @messages.reverse.each do |message| %>
	<div id="card">
		<table>
			<tr>
				<td>
					<%= link_to profile_picture(User.find(message.sender), "50x50"), user_path(message.sender)  %>
				</td>
				<td>
					<%= link_to User.find(message.sender).name.capitalize, user_path(message.sender) %>
				</td>
				<td>
				</td>
			</tr>
		</table>
		<p align="center"><%= message.text %></p>
		<%= button_to "Reply", new_user_message_path(message.sender), :method => "get" %>
	</div>
<% end %>

<% if @messages.count == 0 %>
	<p align="center">You have zero messages.</p>
<% end %>