<% if current_user %>

	<% if current_user.notifications.size > 0 %>
		<%= button_to "Clear all", clear_path(current_user), :method => "delete" %>
	<% else %>
		<p>You have zero notifications.</p>
		<%= image_tag "forever_alone.png", size: "150" %>
	<% end %>

	<ul>
		<% @notes.each do |note| %>
			<li><%= note.message %></li>
		<% end %>
	</ul>

<% end %>