<!-- shares card -->

<div id="card">
	<div align="center">
		<h4><%= share.name %></h4>
		<div><%= share.description %></div>
		<% if current_user.id != share.user_id %>
			</br>
			<div class="btn-group">
				<%= render "shares/vote_buttons", share: share %>
			</div>
		<% end %>
	</div>
</div></br>