<!-- shares -->

<% if share.open_to? current_user %>
	<div id="card">
		<div align="center">
			<h4><%= share.name %></h4>
			<p><%= share.description %></p>
	
			<div class="btn-group">
				<% if current_user.id != share.user_id %>
					<%= render "shares/vote_buttons", share: share %>
				<% end %>
				<%= render "shares/comment_button", share: share %>
			</div>
		</div>
	</div>
<% end %>