<h1>Listing Users</h1>
 
<table>
	<tr>
		<th>Name</th>
		<th>About</th>
	</tr>
 
	<% @users.each do |user| %>
	<tr>
		<td><%= link_to user.name.capitalize, user_path(user) %></td>
		<td><%= user.bio %></td>
	</tr>
	<% end %>
</table>