<!-- folders -->

<% if @messages.size > 0 %>
	<% @messages.each do |message| %>
		<div id="card">
			<div align="center">
				<%= render "messages/time_ago", message: message %>
				<%= link_to User.find(message.user_id).name, user_path(message.user_id)%>
				<!-- decrypts and scans message for links to display them correctly -->
				<% for word in decrypt_message(message).split(' ') %>
					<%= render "posts/embed", word: word %>
				<% end %>
			</div></br>
		</div>
		<br>
	<% end %>
<% end %>

<%= render "messages/new" %>