<!-- folders -->
<% if @messages.size > 0 %>
	<% @messages.each do |message| %>
		<!-- sets up decryption variables -->
		<% key = ActiveSupport::KeyGenerator.new(User.find(message.user_id).name).generate_key(message.salt) %>
		<% encryptor = ActiveSupport::MessageEncryptor.new(key) %>
		<!-- time variables gets set -->
		<% time_ago = time_ago_in_words(message.created_at) + " ago" %>
		<% if time_ago.include? "about" %>
			<% time_ago.slice! "about " %>
		<% end %>
		
		<div id="card">
			<%= link_to time_ago, folder_path(@folder), id: :top_right_time %></br>
			<div align="center">
				<%= link_to User.find(message.user_id).name.capitalize, user_path(message.user_id)%>
				<%= encryptor.decrypt_and_verify(message.text) %>
			</div></br>
		</div>
		<br>
	<% end %>
<% end %>

<%= render "messages/new" %>