<!-- folders -->
<% if @messages.size > 0 %>
	<% @messages.each do |message| %>
		<!-- sets up decryption variables -->
		<% key = ActiveSupport::KeyGenerator.new(message.created_at.to_s).generate_key(message.salt) %>
		<% encryptor = ActiveSupport::MessageEncryptor.new(key) %>
		
		<div id="card">
			<div align="center">
				<%= render "messages/time_ago", message: message %>
				<%= link_to User.find(message.user_id).name.capitalize, user_path(message.user_id)%>
				<%= encryptor.decrypt_and_verify(message.text) %>
			</div></br>
		</div>
		<br>
	<% end %>
<% end %>

<%= render "messages/new" %>