<h1 align="center">Modules</h1>

<% @modules.each do |_module| %>
	<div id="card">
		<div align="center">
			<table align="center">
				<tr>
					<td>
						<%= image_tag _module.icon %>
					</td>
					<td>
						<%= link_to _module.name, group_code_module_path(@group, _module) %>
					</td>
				</tr>
			</table>
		</div>
	</div></br>
<% end %>