<!-- groups -->

<table align="center">
	<tr>
		<% if @group.icon.url %>
		<td>
			<%= link_to image_tag(@group.icon, size: "50x50", id: :profile_picture), group_path(@group) %>
		</td>
		<% end %>
		<td>
			<% if @group.name.size < 10 %>
				<h2 align="center"><%= @group.name + " " + item %></h2>
			<% else %>
				<h4 align="center"><%= @group.name + " " + item %></h4>
			<% end %>
		</td>
	</tr>
</table></br>