<div id="large_button">
	<%= button_to "Start a group", new_group_path, method: :get %><br>
</div>

<% @groups.each do |group| %>
	<div id="card">
		<table align="center">
			<tr>
				<td><%= link_to image_tag(group.icon, size: "50x50",
					id: :profile_picture), group_path(group) %></td>
				<td><h2><%= link_to group.name.capitalize, group_path(group) %></h2></td>
			</tr>
		</table>
		<div align="center">Members: <%= group.members.size %></div>
	</div>
	<br>
<% end %>