<div id="large_button">
	<%= button_to "Start a group", new_group_path, method: :get,
		class: "btn btn-default btn-lg btn-block" %><br>
</div>

<% @groups.each do |group| %>
	<div id="card">
		<table align="center">
			<tr>
				<% if group.icon.url %>
					<td><%= link_to image_tag(group.icon, size: "50x50",
						id: :profile_picture), group_path(group) %></td>
				<% end %>
				<td><%= link_to group.name, group_path(group) %></td>
			</tr>
		</table>
		<div align="center">Members: <%= group.members.size %></div>
	</div>
	<br>
<% end %>