<% @users.each do |user| %>
	<div id="card">
		<table align="center">
			<tr>
				<td><%= profile_picture user, "25x25" %>
				<td><%= link_to user.name.capitalize, user_path(user) %></td>
			</tr>
		</table>
	</div>
	</br>
<% end %>