<!-- users -->

<% @users.each do |user| %>
	<div id="card">
		<div align="center">
			<div><%= profile_picture user, "50x50" %></div>
			<%= link_to user.name, user_path(user) %>
		</div>
	</div>
	</br>
<% end %>

<%= render("pages/more") %>