<!-- main feed -->

<%= render "posts/new" %>

<% @feed.each do |post| %>
	<%= render "posts/card", post: post %>
<% end %>

<% if Post.from_users_followed_by(current_user).empty? %>
	<div id="card">
		<%= render "search/search_bar" %>
	</div>
<% end %>

<%= render("pages/older_newer", page: :feed_page) %>