<div id="card">
	<div align="center">
		
		<h2>Kopimia</h2>
		
		<p class="about_text">A free and open source social network based on the philosophy of Kopimism.</p>

		<p class="about_text">Groups are currently the main focus, with a proposal system that lets members collaboratively change the groups structure by way of consensus and majority vote, allowing for unlimited customization. Proposals let members add modules that can serve as software add ons or web apps for the group. Members can even decide to request federations with other groups, allowing for shared modules and resources to be managed between multiple groups. Various goods or services, called shares will make up the basis of the sharing economy, enabling members to amass resources in common to the group or federation as a whole.</p>

		<p class="about_text">The goal of this project is to provide a decentralized social structure for a more free and open society.</p>

		<p class="about_text">Ultimately, this code base will be capable of rapidly deploying fully customizable social networks, soon with a control panel allowing for mamagement of feature sets optimized specifically for your needs, including groups, advertisements, and other capabilities that may or may not appear on the main site. Kopimia.com will stay true to the principles of the Kopimist philosophy while custom domains can implement whatever rules or features the administrator so desires.</p></br>
	</div>
</div>