<div id=<%= color_theme("card")%>>
	<div align="center">
		<p class="about_text">Kopimia, a platform for the digital proletariat. Build communities and organizations through a proposal system that puts conesnsus and collaboration first.</p>
		
		<p class="about_text">
			Feel free to view the source or contribute on
			<a href="https://github.com/ethanwilkins/kopimia", target="_blank">GitHub</a>.
		</p>
	</div>
</div></br>