<div id=<%= color_theme("card")%>>
	<div align="center">
		<p class="about_text">Kopimia is a social networking platform for the digital proletariat.</p>
			
		<p class="about_text">To organize and build community through cooperation and consensus.</p>
		
		<p class="about_text">
			Feel free to view the source or contribute on
			<a href="https://github.com/ethanwilkins/kopimia", target="_blank">GitHub</a>.
		</p>
	</div>
</div></br>