<div id=<%= color_theme("card")%>>
	<div align="center">
		
		<h2>Kopimia</h2> <!-- need to have favicon to the left of this -->
		
		<p class="about_text">A free and open source social network based on the philosophy of Kopimism.</p>

		<p class="about_text">Groups are currently the main focus, with a proposal system that lets members collaboratively change the groups structure by way of majority vote, allowing for unlimited customization. Proposals let members add modules that can serve as feature add ons or web apps for the group. Members can even decide to request federations with other groups, allowing for modules and shared resources to be managed between multiple groups. Various goods or services, called shares will make up the sharing economy, allowing members to share and amass resources in common to the group or federation as a whole.</p>

		<p class="about_text">The goal of this project is to provide a decentralized social structure for a more free and open society, as well as a catalyst for organized resistance efforts against the monopolization of culture</p></br>
	</div>
</div>