<div id=<%= color_theme("card")%>>
	<div align="center">
		<p class="about_text">Democratic organization of culture is the main focus, with a proposal system that lets group members collaboratively change the structure of the group by way of majority vote, allowing for collective customization. Proposals let members add modules that can serve as add ons or web apps for the group. Members can even decide to request federations with other groups, allowing for modules and shared resources to be managed among them cooperatively. Various goods or services, called shares, will form the basis of a sharing economy, allowing members to share and amass resources in common to the group or federation as a whole.</p>

		<p class="about_text">The goal of this project is to provide a decentralized social structure for a free and open society, as well as a catalyst for organized resistance against the monopolization of culture.</p>
		
		<p class="about_text">
			Feel free to view the source or contribute on
			<a href="https://github.com/ethanwilkins/kopimia", target="_blank">GitHub</a>.
		</p>
	</div>
</div></br>