<!-- welcome -->

<% unless current_user %>
	<div id="card">
		<div id="welcome_header">Welcome to Kopimia</div></br>

		<div id="welcome_info" align="center">
			This is a free and open source social network. Please feel free to contribute on 
				<a href="https://github.com/ethanwilkins/kopimia">GitHub</a>.</div>
	</div></br>
	
	<%= render "sessions/new" %> <!-- conveniently placed above search bar for active users -->
	
	<div id="card">
		<%= render "search/search_bar" %>
	</div>
<% else %>
	<%= render "feed" %>
<% end %>
