<!-- welcome -->

<% unless current_user %>
	<div id="card">
		<div id="welcome_header">Welcome to ShadowMesh</div></br>

		<div id="welcome_info" align="center">This is free and open source software. Please feel free to contribute on
			<a href="https://github.com/ethanwilkins/social">GitHub</a>.</div></br>
	</div></br>
	
	<%= render "search/search_bar" %>
	<%= render "sessions/new" %>
<% else %>
	<%= render "feed" %>
<% end %>