<div class="older_newer">
	<div class="newer">
		<%= link_to(newer_path(page: page)) do %>
			<div>Newer</div>
		<% end %>
	</div>
	<div class="older">
		<%= link_to(older_path(page: page)) do %>
			<div>Older</div>
		<% end %>
	</div>
</div>