<!-- federations -->

<table align="center">
	<tr>
		<% if @federation.icon.url %>
		<td>
			<%= link_to image_tag(@federation.icon, size: "50x50",
				id: :profile_picture), federation_path(@federation) %>
		</td>
		<% end %>
		<td>
			<% if @federation.name.size < 10 %>
				<h1 align="center"><%= @federation.name + " " + item %></h1>
			<% else %>
				<h3 align="center"><%= @federation.name + " " + item %></h3>
			<% end %>
		</td>
	</tr>
</table></br>