<!-- federations -->

<% for federation in @federations %>
	<div id="card">
		<table align="center">
			<tr>
				<% if federation.icon.url %>
					<td><%= link_to image_tag(federation.icon), federation_path(federation) %></td>
				<% end %>
				<td><%= link_to federation.name, federation_path(federation) %></td>
			</tr>
		</table>
	</div>
<% end %>

<% if @federations.empty? %>
	<div id="card">
		<div align="center">
			There aren't any federations yet.
		</div>
	</div>
<% end %>