<!-- federations -->

<% for federation in @federations %>
	<div id="card">
		<div align="center">
				<% if federation.icon.url %>
					<p><%= link_to image_tag(federation.icon, size: "75x75"), federation_path(federation) %><p>
				<% end %>
				<div><%= link_to federation.name, federation_path(federation) %></div>
		</div>
	</div></br>
<% end %>

<% if @federations.empty? %>
	<div id="card">
		<div align="center">
			There aren't any federations yet.
		</div>
	</div>
<% end %>