<% @proposal.comments.each do |comment| %>
<div id="card">
	<table align="center">
		<tr>
			<td><%= link_to profile_picture(comment.commenter, "25x25"), user_path(comment.commenter) %></td>
			<td><%= link_to comment.commenter.name, user_path(comment.commenter) %>
				<%= comment.text %></td>
		</tr>
	</table>
	<!-- controls for comment -->
	<%= render "comments/vote", comment: comment %>
</div><br>
<% end %>