<% if proposal.icon? %>
	<div align="center">
		<%= image_tag(proposal.icon, width: "50%") %>
	</div></br>
<% end %>

<% unless proposal.why.nil? or proposal.why.empty? %>
	<p align="center"><strong>Why:</strong> <%= proposal.why %></p>
<% end %>