<div align="center" id="proposals_content">
	<% if proposal.icon? %>
		<div>
			<%= image_tag(proposal.icon, width: "50%") %>
		</div></br>
	<% end %>

	<% unless proposal.why.nil? or proposal.why.empty? %>
		<div><strong>Why:</strong> <%= proposal.why %></div>
	<% end %>
</div>