<% if proposal.icon? %>
	<div align="center">
		<%= image_tag(proposal.icon, width: "90%") %>
	</div>
<% end %>

<table align="center">
	<tr>
		<td>
			<p align="center"><%= proposal.description %></p>
		</td>
	</tr>
</table>