<% if proposal.icon? %>
	<div align="center">
		<%= image_tag(proposal.icon, width: "90%") %>
	</div>
<% end %>

<% unless proposal.description.empty? %>
	<p align="center"><strong>Why:</strong> <%= proposal.description %></p>
<% end %>