<% if proposal.icon? %>
	<div align="center">
		<%= image_tag(proposal.icon, width: "90%") %>
	</div>
<% end %>

<% unless proposal.submission.empty? %>
	<p align="center"><%= proposal.submission %></p>
<% end %>

<% unless proposal.description.empty? %>
	<p align="center"><%= proposal.description %></p>
<% end %>