<p align="center">
	<% if proposal.user_id %>
		<%= link_to User.find(proposal.user_id).name.capitalize, user_path(proposal.user_id) %>
	<% else %>
		Anonymous
	<% end %>

	<% case proposal.action %>
		<% when "name_change" %>
			proposed a name change
		<% when "description_change" %>
			proposed a description
		<% when "icon_change" %>
			proposed an icon
		<% when "request_to_join" %>
			requested to join
		<% when "private_group" %>
			proposed to make the group private
		<% when "public_group" %>
			proposed to make the group public
	<% end %>
</p>