<!-- proposals vote -->

<% if @group.membership(current_user) and current_user.id != proposal.user_id %>
	<% unless proposal.inactive %>
		<%= link_to(up_vote_proposal_path(proposal), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
		<% end %>
		<%= link_to(down_vote_proposal_path(proposal), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		<% end %>
	<% end %>
<% end %>