<% if @group.membership(current_user) %>
	<% unless proposal.inactive %>
	<td>
		<%= link_to(up_vote_proposal_path(proposal), class: :button_link) do %>
			<div class="button_div">Up</div>
		<% end %>
	</td>
	<td>
		<%= link_to(down_vote_proposal_path(proposal), class: :button_link) do %>
			<div class="button_div">Down</div>
		<% end %>
	</td>
	<% end %>
<% end %>