<!-- proposals vote -->

<% if (proposal.proposal_id or (@federation and @federation.membership(current_user)) or \
	(@group and @group.membership(current_user))) and current_user.id != proposal.user_id %>
	<% unless proposal.ratified %>
		<%= link_to(up_vote_proposal_path(proposal), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
		<% end %>
		<%= link_to(down_vote_proposal_path(proposal), class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		<% end %>
	<% end %>
<% end %>