<!-- proposals -->
<%= button_to "Create proposal", new_group_proposal_path(@group), method: :get %><br>

<% @proposals.each do |proposal| %>
	<div id="card">
		
		<%= render "content", proposal: proposal %>
		
		<table align="center">
			<tr>
				<%= render "vote", proposal: proposal %>
				<td>
					<%= link_to(group_proposal_path(@group, proposal), class: :button_link) do %>
						<div class="button_div">Comment</div>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
	<br>
<% end %>