<% if session[:page] == nil or session[:page] * 5 < current_user.feed.size %>
	<div>
		<%= button_to "Older", older_path %>
	</div>
<% elsif session[:page] and session[:page] * 5 < current_user.feed.size %>
	<div>
		<%= button_to "Older", older_path %>
	</div>
	<div>
		<%= button_to "Newer", newer_path %>
	</div>
<% else %>
	<div>
		<%= button_to "Newer", newer_path %>
	</div>
<% end %>