<% _post = post # to link to new copy of original post %>
<!-- to pull content from the original post -->
<% post = Post.find(post.original) if post.original %>
		
<div align="center">
	<% if _post.image_url or post.image_url %>
		<div id="post_image">
			<%= link_to(image_tag(post.image_url, width: "90%"),
				show_post_path(_post.user, _post)) %>
		</div>
	<% end %>
	
	<% if post.text.present? or post.hashtags.present? %>
		<p id="post_text">
			<% for word in post.text.split(' ') %>
				<% unless word =~ /\A#{URI::regexp}\z/ %>
					<%= word + " " %>
				<% else %>
					<%= link_to word + " ", word %>
				<% end %>
			<% end %>
			
			<% post.hashtags.each do |tag| %>
				<%= link_to tag.tag, tagged_path(tag.tag) %>
			<% end %>
		</p>
	<% end %>
</div>