<% post = Post.find(post.original) if post.original %>
		
<div align="center">
	<%= link_to(image_tag(post.image_url, width: "90%"),
		show_post_path(post.user, post)) if post.image? %>
	<% unless post.text.empty? %>
		<p><%= post.text %></p>
	<% end %>
</div>