<% post = Post.find(post.original) if post.original %>
		
<div align="center">
	<%= link_to(image_tag(post.image_url, width: "90%"),
		show_post_path(post.user, post)) if post.image? %>
	<% if post.text.present? %>
		<p>
			<%= post.text %>
			<% post.hashtags.each do |tag| %>
				<%= link_to tag.tag, tagged_path(tag.tag) %>
			<% end %>
		</p>
	<% end %>
</div>