<% _post = post # to link to new copy of original post %>
<!-- to pull content from the original post -->
<% post = Post.find(post.original) if post.original %>
		
<div align="center" id="post_content">
	<% if _post.image_url or post.image_url %>
		<div id="post_image">
			<%= link_to(image_tag(post.image_url, width: "100%"),
				show_post_path(_post.user, _post)) %>
		</div>
	<% end %>
	
	<% if post.text.present? or post.hashtags.present? %>
		<% preview_length = 500 %>
		<% if post.embedded? %>
			<% text = post.text %>
			<div id="embedded_post">
		<% elsif post.text.size < preview_length %>
			<% text = post.text %>
			<div id="short_text_post">
		<% else %>
			<% text = post.text.slice(0..preview_length) + "... " unless defined? show_post_page %>
			<% text = post.text if defined? show_post_page %>
			<div id="article_of_text">
		<% end %>
			<% for word in text.split(' ') %>
				<%= render "posts/embed", word: word %>
			<% end %>
			
			<% if post.text.size > preview_length and !defined? show_post_page %>
				<%= link_to "Read More ", show_post_path(_post.user, _post) %>
			<% end %>
			
			<% post.hashtags.each do |tag| %>
				<%= link_to tag.tag, tagged_path(tag.tag) %>
			<% end %>
		</div>
	<% end %>
</div>