<% unless post.original and current_user and post.user == current_user %>
	<% post = Post.find(post.original) if post.original %>

	<% if current_user and post.user != current_user %>
		<%= link_to share_path(post.id), method: :post, class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-retweet"></span>
		<% end %>
	<% end %>
<% end %>