<% unless post.original and current_user and post.user == current_user %>
	<% post = Post.find(post.original) if post.original %>

	<% if current_user and current_user.id != post.user_id and (post.group_id == nil \
		or Group.find(post.group_id).membership(current_user)) %>
		<%= link_to up_vote_post_path(post), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
		<% end %>
		<%= link_to down_vote_post_path(post), class: "btn btn-default" do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
		<% end %>
	<% end %>
<% end %>