<% post = Post.find(post.original) if post.original %>

<% if post.user != current_user %>
	<% if post.group_id == nil or Group.find(post.group_id).membership(current_user) %>
	<td>
		<%= link_to(up_vote_post_path(post)) do %>
			<div>Up</div>
		<% end %>
	</td>
	<td>
		<%= link_to(down_vote_post_path(post)) do %>
			<div>Down</div>
		<% end %>
	</td>
	<% end %>
<% end %>