/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#header-nav {
	background: rgb(230, 230, 230);
	position: fixed;
	border-style: none;
	opacity: 0.98;
	width: 100%;
	z-index: 3;
	top: 0;
}

#page-content {
	margin-top: 70px;
}

#page {
	background: rgb(245, 245, 245);
}

#page_dark {
	background: black;
}

td, p, h1, div {
	text-shadow: none;
}

table {
	border-spacing: 5px 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}