// Place all the styles related to the code_modules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#module_frame {
	width: 100%;
	height: 100%;
}

#module_div {
	overflow: hidden;
}