// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.older_newer {
	clear: both;
	width: 70%;
	max-width: 550px;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 100px;
}

.older {
	float: right;
	width: 45%;
}

.newer {
	float: left;
	width: 45%;
}