// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_side_padding: 12.5px;
$bottom_padding: 7.5px;

#post_image {
	margin-bottom: 10px;
}

#embedded_post {
	padding: 0px 0px;
	padding-bottom: $bottom_padding;
}

#article_of_text {
	text-align: left;
	font-size: 13px;
	padding: 0px $text_side_padding;
	padding-bottom: $bottom_padding;
}

#short_text_post {
	padding: 0px $text_side_padding;
	padding-bottom: $bottom_padding;
}

#user_action_text {
	font-size: 13px;
	color: rgb(170, 180, 190);
}