// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_image {
	margin-bottom: 10px;
}

#article_of_text {
	text-align: left;
	font-size: 13px;
	padding: 0px 10px;
	padding-bottom: 7.5px;
}

#short_text_post {
	padding: 0px 10px;
	padding-bottom: 7.5px;
}

#user_action_text {
	font-size: 13px;
	color: rgb(170, 180, 190);
}