// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_image {
	margin-bottom: 10px;
}

#article_of_text {
	text-align: left;
	font-size: 13px;
}