// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_side_padding: 12.5px;

#proposal_action_text {
	margin: 0px $text_side_padding;
	margin-top: 20px;
	margin-bottom: 40px;
}