// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top_right {
	position: absolute;
	top: 6px;
	right: 5px;
}