// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$back_dark: rgb(100, 100, 100);
$card_width: 94.5%;

#profile_picture {
	border-radius: 3.5px;
	margin-bottom: 10px;
	margin-right: 5px;
}

#user_profile_name {
	margin-top: 7.5px;
}

#commenter_icon {
	margin-top: -7.5px;
}

#delete_account_card {
	background: white;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgb(255, 0, 0);
	padding: 15px 20px;
	max-width: 550px;
	margin: 0 auto;
	width: $card_width;
	margin-bottom: 50px;
}

#delete_account_card_dark {
	background: $back_dark;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgb(255, 0, 0);
	padding: 15px 20px;
	max-width: 550px;
	margin: 0 auto;
	width: $card_width;
	margin-bottom: 50px;
}

#joined_on {
	font-size: 13.5px;
	color: rgb(145, 151, 165);
}
