// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$back: white;
$back_dark: rgb(100, 100, 100);
$button_color: rgb(240, 240, 240);
$highlight_button: rgb(235, 235, 235);
$click_button: rgb(40, 130, 205);
$card_shadow: rgb(200, 200, 200);
$info_color: rgb(190, 190, 190);
$card_width: 94.5%;

#welcome_header {
	margin-bottom: 5px;
	text-align: center;
	font-size: 20px;
}

#welcome_info {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5px;
}

.about_text {
	text-align: left;
}

#card {
	background: $back;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 1px 2px $card_shadow;
	padding: 15px 20px;
	max-width: 550px;
	margin: 0 auto;
	width: $card_width;
}

#card_dark {
	background: $back_dark;
	position: relative;
	border-radius: 6px;
	box-shadow: 0px 1px 2px $card_shadow;
	padding: 15px 20px;
	max-width: 550px;
	margin: 0 auto;
	width: $card_width;
}

#welcome {
	text-align: center;
}

.button_div {
	padding: 4px 6px;
	border-radius: 3px;
	background: $button_color;
	box-shadow: 0px 1px 2px $card_shadow;
	font-weight: normal;
	color: black;
}

.button_div:hover {
	background: $highlight_button;
}

.button_div:active {
	background: $click_button;
}

.button_link:hover {
	text-decoration: none;
}

#large_button {
	width: $card_width;
	max-width: 550px;
	margin: 0 auto;
}

#top_right {
	position: absolute;
	top: 6px;
	right: 5px;
}

#top_left {
	position: absolute;
	top: 6px;
	right: 50px;
}

#top_right_time {
	font-size: 10px;
	color: $info_color;
	position: absolute;
	right: 10px;
	top: 10px;
}

#icon_image {
	size: 25%;
}
