<%= render "groups/name_heading", item: "Members" %>

<% @members.each do |member| %>
	<% member = User.find(member.user_id) %>
	<div id="card">
		<table align="center">
			<tr>
				<td><%= profile_picture(member, "25x25") %></td>
				<td><%= link_to member.name, user_path(member) %></td>
			</tr>
		</table>
	</div>
<% end %>

<% if @members.empty? %>
	<div id="card">
		<div align="center"><%= link_to @group.name, group_path(@group) %> doesn't have many members yet.</div>
	</div>
<% end %>