<!-- members list -->

<h1 align="center">Members</h1>
<br>

<% @members.each do |member| %>
	<% member = User.find(member.user_id) %>
	<div id="card">
		<table align="center">
			<tr>
				<td><%= profile_picture(member, "25x25") %></td>
				<td><%= link_to member.name.capitalize, user_path(member) %></td>
			</tr>
		</table>
	</div>
	<br>
<% end %>